body {
    background-color:rgb(239, 239, 239);
    position: relative;
}

.stieWelcome {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #888;
    position: fixed;
    z-index: 1;
 }

 .stieWelcome.active {
    display: flex;
}

.loading{
    position: relative;
    width: 200px;
    height: 200px;
}

 .loading::before,.loading::after{
    content: "";
    width: 0px;
    height: 0px;
    margin: auto;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: s 2s linear infinite;
}

.loading::after{
    animation-delay: 0.75s;
}

@keyframes s{
    0%{width:0px; height:0px;opacity:1;}
    100%{width:100px;height:100px;opacity:0}
    }

.topNavBar{
    padding:20px 0;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    transition: all 0.5s;
    color: #b7b7b7;
}

.topNavBar.sticky{
    background: white;
    padding: 10px 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #3d4451;
}

.logo{
    float: left;
}

.topNavBar nav {
    float: right;
    margin-right:16px;
    padding-top:1px;
}

.topNavBar nav li {
    float: left;
    padding-top:3px;
    margin-right: 30px;
    position: relative;
}

.topNavBar nav li a {
    padding: 5px 0;
    font: bold 12px "Microsoft YaHei";
    color: #b7b7b7;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
 }

 .topNavBar nav li.active a::after{
     content: '';
     display: block;
     position: absolute;
     top:100%;
     left:0;
     width: 100%;
     background: #e06567;
     height: 3px;
     animation: menuSlid .3s;
 }

 @keyframes menuSlid{
     0%{width: 0;}
     100%{width: 100%;}
 }

.topNavBar .submue {
    display: block;
    position: absolute;
    margin-top:3px;
    top:100%;
    right: 0;
    background: white;
    color:#3d4451;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.topNavBar .submue li {
    white-space: nowrap;
    padding: 5px 10px;
}

.logo {
    padding: 2px 0 3px 0;
    margin-left: 16px;
    font:bold 24px "Arial Black";
}

.rs {
    color:#e6686a;
}

.logo .card {
    color: #9a9da2;
}



.banner {
    background: url(../img/rs-cover.jpg);
    background-position: center center;
    height: 515px;
    margin-top: -84px;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}

.user-card {
    max-width: 940px;
    margin: -340px auto 0;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.pictureAndText {
    padding: 50px;
}

.picture {
    float: left;
    margin-right: 65px;
}

.text {
    float: left;
    width: 470px;
}

.welcome {
    background-color: rgb(203, 104, 106);
    display: inline-block;
    line-height: 22px;
    padding:4px 16px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
}

.triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: rgb(203, 104, 106);
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.profile h1 {
    margin-top:20px;
}

.profile hr {
    margin:20px 0;
    border: none;
    border-top:1px solid #DEDEDE;
}



.profile dl dt {
    float: left;
    font-weight: bold;
    width: 30%;
}

.profile dl dd{
    float: left;
    width:70%;
    color: #9da0a7;
    padding: 5px 0;
}

.media {
    background-color: rgb(203, 104, 106);
    text-align: center;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }


.media svg {
    width: 30px;
    height: 30px;
    vertical-align: top;
    fill:#fff;

}

.media a{
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin:16px;
}


.media a:hover {
    background-color: rgb(207, 93, 95);
}

p.downloadbtn{
    text-align: center;
}

a.button {
    border: 1px solid #cdcfd1;
    padding:22px 50px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #3d4451;
    border-radius: 2px;
    margin:32px 0 40px;
    transition: 0.3s;
}

a.button:hover{
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
}

.slefIntroduction {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}

section.skills,section.portfolio{
    margin:70px auto 0px;
    padding-bottom: 30px;
    max-width: 940px;
 }

.skills h2,
section h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.skills ol {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 40px 40px 0 40px;
    background: #fff;
}

.skills ol li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

.skills .bar {
    background-color: #FAE1E1;
    width: 100%;
    height: 5px;
    margin:5px 0 42px;
    border-radius: 2px;
}

.bar .bar-in {
    background-color: rgb(203, 104, 106);
    width: 50%;
    height: 100%;
    border-radius: 2px;
}

.skills h3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

.skills ol li:nth-child(even) {
    margin-left: 33px;
    
} 

section.portfolio{
text-align: center;
}

.portfolio nav {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.portfolio ol {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
}

.portfolio li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
    font-weight: bold;
}



.portfolio ol li:first-child{
   margin-left: 0;
}

.portfolio .bar {
    margin:5px auto 28px;
    height: 5px;
    background: white;
    border-radius: 2px;
}

.portfolio .bar .bar-inner {
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}

.portfolio .state-1 .bar-inner{
    margin-left: 0;
    width:50px;
}


.portfolio  .state-2 .bar-inner{
    margin-left: 65px;
    width:50px;
}

.portfolio  .state-3 .bar-inner{
    margin-left: 140px;
    width:96px;
}


.jobs {
    position: relative;
    height: 597px;
    padding-bottom: 100px;
}

.jobs .big {
    position: absolute;
    top:0;
    left: 0;
}

.jobs .small1  {
    position: absolute;
    left: 645px;
}

.jobs .small2 {
    position: absolute;
    top:312px;
    left: 645px;
}
